[#include "/common/taglibs.htm"]
<!DOCTYPE html>
<html>
<head>
<title>${__appname}</title>
[#include "/common/css_js_base.htm"]
</head>
<body class="hold-transition ${__skinTheme} sidebar-mini">
<div class="wrapper">
[#include "/common/topbar.htm"]
[#include "/common/sidebar.htm"]
<div class="content-wrapper">
    <section class="content">
        <div class="box">
          <div class="box-body">
			<div class="row">
				<div class="col-md-4">
					<img src="/static/img/500.png"/>
				</div>
				<div class="col-md-8">
					<div>
						<h1 class="grey lighter smaller">
						<span class="blue bigger-125">
							<i class="fa fa-warning"></i>
							403 - 没有访问权限
						</span>
						</h1>
						<div class="space"></div>
						<h4 class="smaller">请尝试以下的操作:</h4>
	
						<ul class="list-unstyled spaced inline bigger-110 margin-15">
							<li>
							<i class="fa fa-hand-o-right blue"></i>
							向系统管理员申请访问权限。
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="alert alert-info">
				<div>URI:${uri!}</div>
			</div>
					
			<hr />
			<div class="space"></div>
			<div class="center">
				<a href="javascript:history.back();" class="btn btn-grey">
				<i class="fa fa-arrow-left"></i>
				返回上一步
				</a>
			</div>
          </div>
        </div>
    </section>
</div>
[#include "/common/footer.htm"]
</div>
</body>
</html>