<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/plugins/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/plugins/jQueryUI/jquery-ui.min.css">
<link rel="stylesheet" href="/AdminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="/AdminLTE/css/skins/${_skinTheme}.min.css">
<link rel="stylesheet" href="/plugins/jBox/jBox.css">
<link rel="stylesheet" href="/plugins/jBox/themes/TooltipDark.css">
<link rel="stylesheet" href="/plugins/bootstrap-sco/css/scojs.css">
<link rel="stylesheet" href="/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css">
<link rel="stylesheet" href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/plugins/jquery.validator/css/jquery.validator.css">
<link rel="stylesheet" href="/plugins/select2/css/select2.min.css?v=${_version}">
<link rel="stylesheet" href="/plugins/select2/css/select2-bootstrap.min.css?v=${_version}">
<!--[if lt IE 9]>
<script src="/plugins/html5shiv/html5shiv.min.js?v=${_version!}"></script>
<script src="/plugins/respond/respond.min.js?v=${_version!}"></script>
<![endif]-->
<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js?v=${_version!}"></script>
<script type="text/javascript">
var _ctx = '';
</script>
<script type="text/javascript" src="/plugins/jQueryForm/jquery.form.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/jQueryUI/jquery-ui.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/slimScroll/jquery.slimscroll.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/fastclick/fastclick.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/bootstrap-sco/js/sco.modal.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/bootstrap-sco/js/sco.confirm.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/bootstrap-sco/js/sco.message.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/jBox/jBox.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/jquery.validator/jquery.validator.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/select2/js/select2.full.min.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/select2/js/i18n/zh-CN.js?v=${_version!}"></script>
<script type="text/javascript" src="/plugins/rainbow.text/rainbow.js?v=${_version!}"></script>
<script type="text/javascript">
$.fn.select2.defaults.set( "theme", "bootstrap" );
$.fn.select2.defaults.set('language', 'zh-CN');
</script>
<script type="text/javascript" src="/js/module/common/ui.common.js?v=${_version!}"></script>
<script type="text/javascript" src="/AdminLTE/js/app.min.js?v=${_version!}"></script>
