<link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle/zTreeStyle.css?v=${_version!}"/>
<style type="text/css">
/* 
.ztree li span.button.switch.level0 {visibility:hidden; width:1px;}
.ztree li ul.level0 {padding:0; background:none;}
.ztree li span.button.ico_docu{margin-right:2px; background: url(/plugins/ztree/css/zTreeStyle/img/tree_square.gif) no-repeat scroll 0 0 transparent; vertical-align:middle; *vertical-align:middle}
.ztree li a.curSelectedNode {padding-top:0px; background-color:transparent; color:black; height:16px; border:none;border-bottom:1px dashed #000 ; opacity:0.8;}
 */
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
</style>
<script type="text/javascript" src="/plugins/zTree/js/jquery.ztree.all.min.js?v=${_version!}"></script>
                                          

									      
